---
layout: layouts/_default.njk
---

<main id="app">
  <div class="container mx-auto py-12 max-w-2xl">
    <h1 class="text-4xl font-bold">Artemis 11ty Starter</h1>

    <p class="my-4">
      This 11ty starter kit is designed to work with the
      <a class="font-bold underline decoration-pink-400 decoration-2" href="https://tailwindcss.com/"
        >Tailwind CSS</a
      >, developed by the engineers at <a href="https://stackupdigital.co.uk" class="font-bold underline decoration-pink-400 decoration-2">StackUp Digital.</a>
    </p>

    <a href="https://github.com" class="inline-block mt-2 py-2 px-3 bg-pink-500 text-white text-sm font-semibold rounded-md shadow-lg shadow-pink-500/50 focus:outline-none">
      View on Github
    </a>

    <img
      data-src="https://images.pexels.com/photos/164446/pexels-photo-164446.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
      alt="Lazy Image"
      class="is-lazy-js"
    />
  </div>
</main>